<%=form_with model: @listing, local: true do |form|%>

    <%=render "listing_errors"%>

    <div class='form-group mb-3'> 
        <%=form.label :category_id, class: "form-label"%>
        <%=form.select :category_id, @categories.map {|category| [category.name, category.id]}, class: "form-select"%>
    </div>

    <div class='form-group mb-3'> 
        <%=form.label :title, class: "form-label"%>
        <%=form.text_field :title%>
    </div>

    <div class='form-group mb-3'> 
        <%=form.label :price, "Price $", class: "form-label"%>
        <%=form.number_field :price%>
    </div>

    <div class='form-group mb-3'> 
        <%=form.label :photo, class: "form-label"%>
        <%=form.file_field :photo, accept: "image/png,image/jpg,image/jpeg", class: "form-select"%>
    </div>

    <p class="mb-3">Condition</p>
    <%@conditions.each do |c|%>
        <%=form.label :condition, format_condition(c), class: "form-label mr-1" %>
        <%=form.radio_button :condition, c, class:"mr-2"%>
    <%end%>

    <div class='form-group mb-3'> 
        <%=form.label :description, class: "form-label"%>
        <%=form.text_area :description, class: "form-control"%>
    </div>

    <p class="mb-3">Features</p>
    <div class="form-check form-check-line mb-3 ml-2">
        <%=form.collection_check_boxes :feature_ids, @features, :id, :name  do |block|%>
            <%=block.label class: "form-check-label"%>
            <%=block.check_box class: "form-check-line mr-2"%>
        <%end%>
    </div>

    <div class='form-group mb-3'> 
        <%=form.label :postcode, "Location (postcode)", class: "form-label"%>
        <%=form.number_field :postcode%>
    </div>

    <div class='form-group mb-3'> 
        <%=form.label :brand, class: "form-label"%>
        <%=form.text_field :brand%>
    </div>

    <div class='form-group mb-3'> 
        <%=form.label :model, class: "form-label"%>
        <%=form.text_field :model%>
    </div>

    <div class='form-group mb-3'> 
        <%=form.label :finish, "Finish (colour and material)", class: "form-label"%>
        <%=form.text_field :finish%>
    </div>

    <div class='form-group mb-3'> 
        <%=form.label :capacity, "Capacity (litres)", class: "form-label"%>
        <%=form.number_field :capacity%>
    </div>

    <div class='form-group mb-3'> 
        <%=form.label :height, "Height (mm)", class: "form-label"%>
        <%=form.number_field :height%>
    </div>

    <div class='form-group mb-3'> 
        <%=form.label :width, "Width (mm)", class: "form-label"%>
        <%=form.number_field :width%>
    </div>

    <div class='form-group mb-3'>
        <%=form.label :depth, "Depth (mm)", class: "form-label"%>
        <%=form.number_field :depth%>
    </div>

    <p class="mb-3">Energy-efficiency rating</p>
        <%=form.label :energy_efficiency, 1, class: "form-label mr-1" %>
        <%=form.radio_button :energy_efficiency, 1, class:"mr-3"%>
        <%=form.label :energy_efficiency, 2, class: "form-label mr-1" %>
        <%=form.radio_button :energy_efficiency, 2, class:"mr-3"%>
        <%=form.label :energy_efficiency, 3, class: "form-label mr-1" %>
        <%=form.radio_button :energy_efficiency, 3, class:"mr-3"%>
        <%=form.label :energy_efficiency, 4, class: "form-label mr-1" %>
        <%=form.radio_button :energy_efficiency, 4, class:"mr-3"%>
        <%=form.label :energy_efficiency, 5, class: "form-label mr-1" %>
        <%=form.radio_button :energy_efficiency, 5, class:"mr-3"%>

    <div class='actions'> 
        <%=form.submit%>
    </div>
<%end%>