<section class='container d-flex flex-column flex-md-row px-2 my-2 my-md-5'>
    <div class='sidebar col-lg-4 p-0 mx-2 d-md-block'> 
        <h1 class='mb-sm-2 mb-md-5'><%=@listing.title%></h1>
        <h5 class='text-muted'>Description: <%=@listing.description%></h5>
        <h5 class='text-muted'>Price: <%=format_price(@listing.price)%></h5>
        <h5 class='text-muted'>Condition: <%=format_condition(@listing.condition)%></h5>
        <h5 class='text-muted'>Location (postcode): <%=@listing.postcode%></h5>
        <h5 class='text-muted'>Brand: <%=@listing.brand%></h5>
        <h5 class='text-muted'>Model: <%=@listing.model%></h5>
        <h5 class='text-muted'>Finish: <%=@listing.finish%></h5>
        <h5 class='text-muted'>Capacity: <%=@listing.capacity%>l</h5>
        <h5 class='text-muted'>Height: <%=@listing.price%>mm</h5>
        <h5 class='text-muted'>Width: <%=@listing.price%>mm</h5>
        <h5 class='text-muted'>Depth: <%=@listing.price%>mm</h5>
        <h5 class='text-muted'>Energy-efficiency rating out of 5: <%=@listing.energy_efficiency%></h5>
</section>