<section class='container d-flex flex-column flex-md-row px-2 my-2 my-md-5'>

    <div class='content col-12 col-md-7 col-lg-8 p-0 pr-md-3'>
        <div class='col-12 p-0 main-preview mb-4'>
            <%=display_photo(@listing)%>
        </div>
    </div>

    <div class='sidebar col-lg-4 p-0 mx-2 d-md-block'> 
        <h1 class='mb-sm-2 mb-md-5'><%=@listing.title%></h1>
        <h5 class='mb-2'>Category: <%=@listing.category.name%></h2>

        <%@listing.features.each do |feature|%>
            <span class='badge badge-pill badge-info'><%=feature.name%></span>
        <%end%>

        <h5 class='text-muted'>Price: <%=format_price(@listing.price)%></h5>
        <h5 class='text-muted'>Condition: <%=format_condition(@listing.condition)%></h5>
        <h5 class='text-muted'>Description: <%=@listing.description%></h5>
        <h5 class='text-muted'>Location (postcode): <%=@listing.postcode%></h5>
        <h5 class='text-muted'>Brand: <%=@listing.brand%></h5>
        <h5 class='text-muted'>Model: <%=@listing.model%></h5>
        <h5 class='text-muted'>Finish: <%=@listing.finish%></h5>
        <h5 class='text-muted'>Capacity: <%=@listing.capacity%> litres</h5>
        <h5 class='text-muted'>Height: <%=@listing.height%>mm</h5>
        <h5 class='text-muted'>Width: <%=@listing.width%>mm</h5>
        <h5 class='text-muted'>Depth: <%=@listing.depth%>mm</h5>
        <h5 class='text-muted'>Energy-efficiency rating out of 5: <%=@listing.energy_efficiency%></h5>

        <%if current_user && current_user.id == @listing.user_id%>
            <div class='d-flex justify-content-equally'>
                <%= link_to "Edit", edit_listing_path(@listing.id), class: "btn btn-warning mr-2" %>
                <%= link_to "Delete", @listing, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"%>
            </div>
        <%end%>

        <%if current_user && @listing.sold == false %>
            <button class='btn btn-primary mb-3 pr-2' data-stripe="payment">Buy:<%=format_price(@listing.price)%> </button>
        <%elsif @listing.sold%>
            <button class='btn btn-secondary' disabled>Sold</button>
        <%else%>
            <%=button_to "Sign in to buy", new_user_session_path, class: "btn btn-info"%>
        <%end%>
    </div>
</section>


<script src="https://js.stripe.com/v3/"></script>
<script>
document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
        const stripe = Stripe("<%=Rails.application.credentials.dig(:stripe, :public_key)%>");
        console.log(stripe);
        stripe.redirectToCheckout({
            sessionId: "<%=@session_id%>"
        })
    })
</script>